.app-container {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.fishkey {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fishkey aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.fishkey .sm-side {
  background: none repeat scroll 0 0 #e5e8ef;
  border-radius: 0;
  width: 20%;
  height: 100vh;
}
.fishkey .lg-side {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0;
  width: 80%;
}
.fishkey .sm-side .user-head {
  background: none repeat scroll 0 0 #256da7;
  border-radius: 0;
  color: #fff;
  font-weight: 300;
  min-height: 80px;
  padding: 10px;
}

.fishkey .sm-side .user-head h3 {
  font-weight: 300;
  display: inline-block;
  margin-left: 20px;
}

.app-body {
  padding: 20px;
}

.app-head {
  background: none repeat scroll 0 0 #85bae4;
  border-radius: 0;
  color: #fff;
  min-height: 80px;
  padding: 20px;
}
.app-head h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  padding-top: 6px;
}
.app-head .sr-input {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #8a8a8a;
  float: left;
  height: 40px;
  padding: 0 10px;
  width: 300px;
}
.app-head .sr-btn {
  background: none repeat scroll 0 0 #00a6b2;
  border: medium none;
  border-radius: 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
