<div class="container app-container">
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
  <div class="fishkey">
    <aside class="sm-side">
      <div class="user-head">
        <h3>FishKey</h3>
      </div>
      <div class="app-body">
        <app-category></app-category>

        <app-lesson></app-lesson>

      </div>
    </aside>
    <aside class="lg-side">
      <div class="app-head">
      </div>
      <div>
        <app-learning-mode></app-learning-mode>
      </div>
      <div class="app-body">
        <app-flashcard></app-flashcard>
      </div>

    </aside>
  </div>
</div>
