/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Lato";
  color: #313131;
}

body .app-root {
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
