.flashcard-thumbnail {
  background: #e5e8ef;
  padding: 10px 10px 10px 10px;
  height: 200px;
}

.flashcards-row {
  padding: 20px 20px 0 0;
  margin: 0;
  display: inline-block;
}

.pair {
  margin: 20px;
}

.pair h4 {
  text-align: center;
}

.form-panel {
  height: 50px;
  padding: 0;
  margin: 0;
}

.form-input {
  /*padding-left: 15px;*/
  padding-right: 25px;
}

.form-input input {
  height: 46px;
  border-radius: 0;
  padding: 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.form-input select {
  height: 46px;
  border-radius: 0;
  padding: 10px;
}

.btn-compose {
  background: none repeat scroll 0 0 #ff6c60;
  color: #fff;
  padding: 12px 0;
  margin-right: 20px;
  text-align: center;
  width: 120px;
  border-radius: 0;
  padding: 10px;
}
.btn-compose:hover {
  background: none repeat scroll 0 0 #f5675c;
  color: #fff;
}

.btn-flashcard {
  border-radius: 0;
  background: transparent;
}

.level-info {
  font-family: Lato;
}

.label-tag {
  margin: 3px;
  color: #8b8b8b;
  font-size: small;
}
