<div class="form-panel">
  <button type="button" class="btn btn-compose pull-right" aria-label="Cancel" (click)="onCancel()" *ngIf="isCancelButton">Cancel</button>
  <button type="button" class="btn btn-compose pull-right" aria-label="Add" (click)="onCreate(flashcard)" *ngIf="isAddButton">Add flashcard</button>

<form  #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)" *ngIf="isCreate">
  <table>
    <tbody>
    <tr>
      <td class="form-input">
        <input type="text" placeholder="Add word" class="form-control" name="word" [(ngModel)]="flashcard.word" #word="ngModel" required minlength="1">
      </td>
      <td class="form-input">
        <input type="text" placeholder="Add translation" class="form-control" name="translation"  [(ngModel)]="flashcard.translation" #translation="ngModel" required minlength="1">
      </td>
      <td class="form-input">
        <select name="category" [(ngModel)]='flashcard.category' #category="ngModel" class="form-control">
          <option value="" disabled selected>Select category...</option>
        <option *ngFor="let c of categories" [ngValue]="c" [selected]="category.id == c.id">{{c.name}}</option>
        </select>
      </td>
      <td class="form-input">
        <select name="lesson" [(ngModel)]='flashcard.lesson' #lesson="ngModel" class="form-control">
          <option value="" disabled selected>Select lesson...</option>
          <option *ngFor="let l of lessons" [ngValue]="l" [selected]="lesson.id == l.id">{{l.name}}</option>
        </select>
      </td>
      <td><button class="btn btn-compose pull-right" type="submit">Add flashcard</button></td>
    </tr>
    </tbody>
  </table>
</form>

<form  #g="ngForm" novalidate (ngSubmit)="update(g.value, g.valid)" *ngIf="isUpdate">
  <table>
    <tbody>
    <tr>
      <td class="form-input">
        <input type="text" placeholder="Add word" class="form-control add-form" name="word" [(ngModel)]="flashcard.word" #word="ngModel" required minlength="1">
      </td>
      <td class="form-input">
        <input type="text" placeholder="Add translation" class="form-control add-form" name="translation"  [(ngModel)]="flashcard.translation" #translation="ngModel" required minlength="1">
      </td>
      <td class="form-input">
        <select name="category" [(ngModel)]='flashcard.category' #category="ngModel" class="form-control">
          <option value="" disabled selected>Select category...</option>
          <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
        </select>
      </td>
      <td class="form-input">
        <select name="lesson" [(ngModel)]='flashcard.lesson' #lesson="ngModel" class="form-control">
          <option value="" disabled selected>Select lesson...</option>
          <option *ngFor="let l of lessons" [ngValue]="l" [selected]="lesson.id == l.id">{{l.name}}</option>
        </select>
      </td>
      <td><button class="btn btn-compose pull-right" type="submit">Update flashcard</button></td>
    </tr>
    </tbody>
  </table>
</form>
</div>

  <div class="col-xs-4 col-lg-4 flashcards-row"  *ngFor="let flashcard of flashcards">
    <div class="flashcard-thumbnail" >
      <div class="row flashcard">
        <div class="col-md-5"><h4>{{flashcard.word}}</h4></div>
        <div class="col-md-2"><h4 class="fa fa-exchange"></h4></div>
        <div class="col-md-5"><h4>{{flashcard.translation}}</h4></div>

      </div>
      <div><h6>{{flashcard.category.name}}, {{flashcard.lesson.name}}</h6></div>
      <p><span class="label-tag" *ngFor="let tag of flashcard.tags">#{{tag}}</span></p>
      <button type="button" class="btn btn-sm pull-right pull-bottom fa fa-trash btn-flashcard" aria-label="Close" (click)="onDelete(flashcard)"></button>
      <button type="button" class="btn btn-sm pull-right pull-bottom fa fa-pencil btn-flashcard" aria-label="Edit" (click)="onUpdate(flashcard)"></button>
      <button type="button" class="btn btn-sm pull-right pull-bottom fa btn-flashcard level-info" aria-label="Level">level: {{flashcard.level}}</button>
    </div>
  </div>
