<div class="row">
  <div class="col-lg-6">
    <div *ngFor="let category of categories">
      <h5>{{category.name}}</h5>
        <div class="col-lg-4" *ngFor="let flashcard of getCategorysFlashcards(category)">
          {{flashcard.word}} - {{flashcard.translation}}
        </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div *ngFor="let lesson of lessons">
      <h5>{{lesson.name}}</h5>
      <div class="col-lg-4" *ngFor="let flashcard of getLessonsFlashcards(lesson)">
        {{flashcard.word}} - {{flashcard.translation}}
      </div>
    </div>
  </div>
</div>
