<h4>Lessons</h4>

<div *ngFor="let lesson of lessons">
  <table style="width:100%">
    <tbody>
    <tr>
      <td style="width:80%">{{lesson.name}}</td>
      <td style="width:10%">
        <button type="button" class="btn btn-sm fa fa-pencil btn-flashcard" aria-label="Edit" (click)="onUpdate(lesson)"></button>
      </td>
      <td style="width:10%">
        <button type="button" class="btn btn-sm fa fa-trash btn-flashcard" aria-label="Close" (click)="onDelete(lesson)"></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-compose pull-right fa fa-times" aria-label="Cancel" (click)="onCancel()" *ngIf="isCancelButton"></button>
<button type="button" class="btn btn-compose fa fa-plus" aria-label="Add" (click)="onCreate(flashcard)" *ngIf="isAddButton"></button>

<div class="form-panel">

  <form  #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)" *ngIf="isCreate">
    <table>
      <tbody>
      <tr>
        <td class="form-input">
          <input type="text" placeholder="Add lesson" class="form-control" name="name" [(ngModel)]="lesson.name" #name="ngModel" required minlength="1">
        </td>
        <td><button class="btn btn-compose fa fa-check" type="submit"></button></td>
      </tr>
      </tbody>
    </table>
  </form>

  <form  #g="ngForm" novalidate (ngSubmit)="update(g.value, g.valid)" *ngIf="isUpdate">
    <table>
      <tbody>
      <tr>
        <td class="form-input">
          <input type="text" placeholder="Add lesson" class="form-control" name="name" [(ngModel)]="lesson.name" #name="ngModel" required minlength="1">
        </td>
        <td><button class="btn btn-compose  fa fa-check" type="submit"></button></td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
