.btn-flashcard {
  border-radius: 0;
  background: transparent;
  display: block;
  float: right;
}

.btn-compose {
  margin-top: 15px;
  background: transparent;
  text-align: center;
  display: block;
  border-radius: 0;

}

.form-input input {
  height: 32px;
  border-radius: 0;
  padding: 10px;
  margin-top: 15px;
  margin-right: 5px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  background: transparent;
}
